.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
}

.social__link {
  margin: 0 0 0 1vh;
  display: block;
  background-color: $main-elements;
  height: 6vh;
  width: 6vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;

  &--vk {
    background-image: url("../../img/vk-icon.svg");
  }
  &--youtube {
    background-image: url("../../img/youtube-icon.svg");
  }
  &--instagram {
    background-image: url("../../img/inst-icon.svg");
  }

  &:hover {
    height: 5vh;
    width: 5vh;
    border: #ffffff solid 0.5vh;
    box-shadow: 0 0 1vh $main-text, inset 0 0 1vh $main-text;
    background-color: $transparent;
  }
}
