.gallery__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 6vh 0 0 0;
}

.gallery__item {
  display: block;
  width: 96.4vw;
  margin: 1vh 0;
  box-shadow: 0 0 0 0.2vw #3c3c3c;

  @media (min-width: $tablet-width) {
    //cange width after test
    width: 30.5vw;
    margin: 0.95vw 0.95vw;

    &:first-child,
    &:nth-child(3n+1) {
      margin-left: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
//cange width after test
    width: 22.7vw;
    margin: 0.8vw 0.8vw;

    &:nth-child(3n+1) {
      margin-left: 0.8vw;
    }

    &:nth-child(3n) {
      margin-right: 0.8vw;
    }


    &:first-child,
    &:nth-child(4n+1) {
      margin-left: 0;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

  }
}

.gallery__link {
  &:hover {
    box-shadow: 0 0 1vw black;
    text-shadow: 0 0 2vh $main-text;
  }

  &:hover img {
    box-shadow: 0 0 0 0.2vw #ffffff;
    filter: grayscale(0);
  }
}

.gallery__thumbnail {
  display: block;
  width: 100%;
  filter: grayscale(0.5);
}
