.link {

    position: relative;

    &::after {
        content: '';
        background-color: $main-text;
        height: 1px;
        width: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        box-shadow: 0 5px 10px #ffffff;
        transition: width 500ms;

    }

    &:hover::after {
        opacity: 1;
        width: 100%;

    }
}