.page {
  //height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;

  font-family: "Georgia Regular", Arial, sans-serif;
  overflow-x: hidden;
  color: $main-text;
  background: black;
  background-image: url("../../img/background-mobile.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 50vw 10vw black;

  @media (min-width: $tablet-width) {}

  @media (min-width: $desktop-width) {
    background-image: none;
    box-shadow: none;
  }

}

.page__background {
  margin: -10vh -10vw;
  height: 120vh;
  width: 120vw;

  position: fixed;
  background-size: cover;
  background-position: center;

  &--main {
    background-image: radial-gradient(at center,
        rgba(0, 0, 0, 0.05),
        rgba(0, 0, 0, 0.75)),
      url("../../img/main-background.png");
    z-index: -1;
  }

  &--second {
    background-image: url("../../img/second-background.jpg");
    z-index: -2;
  }

  &--card {
    box-shadow: inset 0 0 25vw 10vw black;
  }

  &--catalog {
    background-image: url("../../img/second-background.jpg");
    box-shadow: inset 0 0 50vw 10vw black;
    filter: blur(10vh);
    z-index: -1;
  }

  &--map {
    background-image: url("../../img/map.jpg");
    box-shadow: inset 0 0 50vw 10vw black;

    z-index: -1;
  }



}

.page__main-controls {
  margin: auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0;
  position: fixed;
  overflow: hidden;

  height: 100vh;
  width: 100vw;
  min-width: 320px;
  padding: 0;

  // display: grid;
  //grid-template-columns: 13vw auto 25vw;
  //grid-template-rows: 6vh auto 18vh;

  &--catalog,
  &--gallery {
    display: block;
    overflow: unset;

    position: unset;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  @media (min-width: $tablet-width) {
    height: 94vh;
    width: 96.8vw;
    padding: 3vh 1.6vw;
  }



}

.page__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2vh;


  @media (min-width: $tablet-width) {

    margin-top: 0;

    //  flex-direction: row;
    //  gap: 6vw;
    &--main {
      position: unset;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    position: fixed;
    z-index: 9;
    // display: block;
  }

  &--main {
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: unset;
  }
}



.page__header-logo {
  height: 6vh;
  width: 320px;
  display: block;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    // display: none;
  }
}

.page__footer-logo {
  display: none;
  position: fixed;
  height: 180px;
  width: 160px;
  left: 1.6vw;
  bottom: 3vh;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {}

}

.page__footer-controls {
  display: none;

  @media (min-width: $tablet-width) {}

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.page__footer {
  z-index: 100;
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-bottom: 2vh;

  // position: fixed;
  // right: 1.6vw;
  //bottom: 3vh;
  &--main {
    justify-content: space-evenly;
  }


  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    // width: 300px;
  }

  @media (min-width: $desktop-width) {}
}

.page__title {
  font-size: 24px;
  text-align: center;
  margin: 10px 0;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 28px;
  }

}

.page__card-image {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.page__header-title-text {
  font-size: 4vh;
  text-transform: uppercase;
}