<div class="page__menu-controls menu-controls">

    <button class="button menu-controls__button menu-controls__close hidden" id="layer-close">
        <span class="menu-controls__button-text">Закрыть окно</span>
    </button>

    <button class="button menu-controls__button menu-controls__back hidden">
        <span class="menu-controls__button-text">Назад</span>
    </button>
    <!--
            --closed - class for closed menu on mobile
            --opened - class for opened menu on mobile -->
    <button class="button menu-controls__button menu-controls__toogle menu-controls__toogle--closed">
        <span class="menu-controls__button-text">Меню</span>
    </button>
</div>